<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freguência</title>
    <link rel="stylesheet" href="/public/css/frequencia.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
    <h1>Frequência Do Bolsista</h1>
    <div class="row">
        <div class="input-field col-md-12">		
            <label for="sel_edital" class="col-md-12">Edital:</label>
            <select class="sect" name="orientador" id="sel_edital" required="required">
                <option value="#">--Escolha Edital</option>    
            </select>
        </div>
                <div class="input-field col-md-12">		
                    <label for="sel_orientador" class="col-md-12">Orientador:</label>
                    <select class="sect" name="orientador" id="sel_orientador" required="required">
                        <option value="#">--Selicione Orientador</option>
                    </select>
                </div>
                <div class="input-field col-md-12">		
                    <label for="sel_bolsista" class="col-md-12">Bolsista:</label>
                    <select class="sect" name="bolsista" id="sel_bolsista" required="required">
                        <option value="#">-- Escolha um orientador</option>
                    </select>		
                </div>
                <div class="input-field col-md-12">
                    <label for="sel_projeto" class="col-md-12">Projeto:</label>
                    <select class="sect" name="projeto" id="sel_projeto" required="required">
                        <option value="#">-- Selecione o projeto</option>
                    </select>
                </div>
                <div class="input-field col-md-12">
                    <label for="sel_mes_referencia" class="col-md-12">Mês de referência:</label>
                    <select class="sect" name="mes_referencia" id="sel_mes_referencia" required="required">
                        <option value="Agosto/2021">Agosto/2021</option>
                        <option value="Setembro/2021">Setembro/2021</option>
                        <option value="Outubro/2021">Outubro/2021</option>
                        <option value="Novembro/2021" selected>Novembro/2021</option>
                    </select>
                </div>
    </div>
            <div class="row-indigo">
                <div class="col s12">
                    <p>1ª Semana</p>
                </div>
            </div>
            
            <div class="row">
                <div class="freguency">
                    <table>
                        <thead>
                            <tr>
                                <th width="15%">Dia</th>
                                <th width="15%">Hora de Início</th>
                                <th width="15%">Hora de Término</th>
                                <th width="15%">Total de horas</th>
                                <th width="40%">Descrição da atividade (Max. 60 caracteres)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" name="s1i_1"></td>
                                <td><input type="text" name="s1t_1"></td>
                                <td><input type="text" na4me="s1th_1"></td>
                                <td><input type="text" na4me="s1th_1"></td>
                                <td><input type="text" name="s1da_1" maxlength="60" class="descrition"></td>   
                            </tr> 

                            <tr>
                                <td><input type="text" name="s1d_2"></td>
                                <td><input type="text" name="s1i_2"></td>
                                <td><input type="text" name="s1t_2"></td>
                                <td><input type="text" name="s1th_2"></td>
                                <td><input type="text" name="s1da_2" maxlength="60" class="descrition"></td>
                            </tr>

                                        <tr>
                                <td><input type="text" name="s1d_3"></td>
                                <td><input type="text" name="s1i_3"></td>
                                <td><input type="text" name="s1t_3"></td>
                                <td><input type="text" name="s1th_3"></td>
                                <td><input type="text" name="s1da_3" maxlength="60" class="descrition"></td>
                            </tr>

                                        <tr>
                                <td><input type="text" name="s1d_4"></td>
                                <td><input type="text" name="s1i_4"></td>
                                <td><input type="text" name="s1t_4"></td>
                                <td><input type="text" name="s1th_4"></td>
                                <td><input type="text" name="s1da_4" maxlength="60" class="descrition"></td>
                            </tr>

                                        <tr>
                                <td><input type="text" name="s1d_5"></td>
                                <td><input type="text" name="s1i_5"></td>
                                <td><input type="text" name="s1t_5"></td>
                                <td><input type="text" name="s1th_5"></td>
                                <td><input type="text" name="s1da_5" maxlength="60" class="descrition"></td>
                            </tr>
                            
                                        <tr>
                                <td><input type="text" name="s1d_6"></td>
                                <td><input type="text" name="s1i_6"></td>
                                <td><input type="text" name="s1t_6"></td>
                                <td><input type="text" name="s1th_6"></td>
                                <td><input type="text" name="s1da_6" maxlength="60" class="descrition"></td>
                            </tr>
                                    </tbody>
                    </table>
                </div>	
            </div> -->
            
            <!--Semana 2-->
            <div class="row-indigo">
                <div class="col s12">
                    <p>2ª Semana</p>
                </div>
            </div>
            
            <div class="row">
                <div class="freguency">
                    <table>
                        <thead>
                            <tr>
                                <th width="15%">Dia</th>
                                <th width="15%">Hora de Início</th>
                                <th width="15%">Hora de Término</th>
                                <th width="15%">Total de horas</th>
                                <th width="40%">Descrição da atividade (Max. 60 caracteres)</th>
                            </tr>
                        </thead>
                        <tbody>
                                            <tr>
                                <td><input type="text" name="s2d_1"></td>
                                <td><input type="text" name="s2i_1"></td>
                                <td><input type="text" name="s2t_1"></td>
                                <td><input type="text" name="s2th_1"></td>
                                <td><input type="text" name="s2da_1" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s2d_2"></td>
                                <td><input type="text" name="s2i_2"></td>
                                <td><input type="text" name="s2t_2"></td>
                                <td><input type="text" name="s2th_2"></td>
                                <td><input type="text" name="s2da_2" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s2d_3"></td>
                                <td><input type="text" name="s2i_3"></td>
                                <td><input type="text" name="s2t_3"></td>
                                <td><input type="text" name="s2th_3"></td>
                                <td><input type="text" name="s2da_3" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s2d_4"></td>
                                <td><input type="text" name="s2i_4"></td>
                                <td><input type="text" name="s2t_4"></td>
                                <td><input type="text" name="s2th_4"></td>
                                <td><input type="text" name="s2da_4" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s2d_5"></td>
                                <td><input type="text" name="s2i_5"></td>
                                <td><input type="text" name="s2t_5"></td>
                                <td><input type="text" name="s2th_5"></td>
                                <td><input type="text" name="s2da_5" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s2d_6"></td>
                                <td><input type="text" name="s2i_6"></td>
                                <td><input type="text" name="s2t_6"></td>
                                <td><input type="text" name="s2th_6"></td>
                                <td><input type="text" name="s2da_6" maxlength="60" class="descrition"></td>
                            </tr>
                                    </tbody>
                    </table>
                </div>	
            </div>
            
            <!--Semana 3-->
            <div class="row-indigo">
                <div class="col s12">
                    <p>3ª Semana</p>
                </div>
            </div>
            
            <div class="row">
                <div class="freguency">
                    <table>
                        <thead>
                            <tr>
                                <th width="15%">Dia</th>
                                <th width="15%">Hora de Início</th>
                                <th width="15%">Hora de Término</th>
                                <th width="15%">Total de horas</th>
                                <th width="40%">Descrição da atividade (Max. 60 caracteres)</th>
                            </tr>
                        </thead>
                        <tbody>
                                            <tr>
                                <td><input type="text" name="s3d_1"></td>
                                <td><input type="text" name="s3i_1"></td>
                                <td><input type="text" name="s3t_1"></td>
                                <td><input type="text" name="s3th_1"></td>
                                <td><input type="text" name="s3da_1" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s3d_2"></td>
                                <td><input type="text" name="s3i_2"></td>
                                <td><input type="text" name="s3t_2"></td>
                                <td><input type="text" name="s3th_2"></td>
                                <td><input type="text" name="s3da_2" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s3d_3"></td>
                                <td><input type="text" name="s3i_3"></td>
                                <td><input type="text" name="s3t_3"></td>
                                <td><input type="text" name="s3th_3"></td>
                                <td><input type="text" name="s3da_3" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s3d_4"></td>
                                <td><input type="text" name="s3i_4"></td>
                                <td><input type="text" name="s3t_4"></td>
                                <td><input type="text" name="s3th_4"></td>
                                <td><input type="text" name="s3da_4" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s3d_5"></td>
                                <td><input type="text" name="s3i_5"></td>
                                <td><input type="text" name="s3t_5"></td>
                                <td><input type="text" name="s3th_5"></td>
                                <td><input type="text" name="s3da_5" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s3d_6"></td>
                                <td><input type="text" name="s3i_6"></td>
                                <td><input type="text" name="s3t_6"></td>
                                <td><input type="text" name="s3th_6"></td>
                                <td><input type="text" name="s3da_6" maxlength="60" class="descrition"></td>
                            </tr>
                                    </tbody>
                    </table>
                </div>	
            </div>
            
            <!--Semana 4-->
            <div class="row-indigo">
                <div class="col s12">
                    <p>4ª Semana</p>
                </div>
            </div>
            
            <div class="row">
                <div class="freguency">
                    <table>
                        <thead>
                            <tr>
                                <th width="15%">Dia</th>
                                <th width="15%">Hora de Início</th>
                                <th width="15%">Hora de Término</th>
                                <th width="15%">Total de horas</th>
                                <th width="40%">Descrição da atividade (Max. 60 caracteres)</th>
                            </tr>
                        </thead>
                        <tbody>
                                            <tr>
                                <td><input type="text" name="s4d_1"></td>
                                <td><input type="text" name="s4i_1"></td>
                                <td><input type="text" name="s4t_1"></td>
                                <td><input type="text" name="s4th_1"></td>
                                <td><input type="text" name="s4da_1" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s4d_2"></td>
                                <td><input type="text" name="s4i_2"></td>
                                <td><input type="text" name="s4t_2"></td>
                                <td><input type="text" name="s4th_2"></td>
                                <td><input type="text" name="s4da_2" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s4d_3"></td>
                                <td><input type="text" name="s4i_3"></td>
                                <td><input type="text" name="s4t_3"></td>
                                <td><input type="text" name="s4th_3"></td>
                                <td><input type="text" name="s4da_3" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s4d_4"></td>
                                <td><input type="text" name="s4i_4"></td>
                                <td><input type="text" name="s4t_4"></td>
                                <td><input type="text" name="s4th_4"></td>
                                <td><input type="text" name="s4da_4" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s4d_5"></td>
                                <td><input type="text" name="s4i_5"></td>
                                <td><input type="text" name="s4t_5"></td>
                                <td><input type="text" name="s4th_5"></td>
                                <td><input type="text" name="s4da_5" maxlength="60" class="descrition"></td>
                            </tr>
                                        <tr>
                                <td><input type="text" name="s4d_6"></td>
                                <td><input type="text" name="s4i_6"></td>
                                <td><input type="text" name="s4t_6"></td>
                                <td><input type="text" name="s4th_6"></td>
                                <td><input type="text" name="s4da_6" maxlength="60" class="descrition"></td>
                            </tr>
                                    </tbody>
                    </table>
                </div>	
            </div>
            
            
            <input type="hidden" id="h_orientador" name="h_orientador">
            <input type="hidden" id="h_bolsista" name="h_bolsista">
            <input type="hidden" id="h_processo" name="h_processo">
            
            <div class="row">
                <div class="col s12">
                    <input class="freguency-button" type="submit" value="Gerar PDF">
                </div>
            </div>
            
            
            </form>  
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>
