/* Form Create Edict */

.form-create {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.form-create form {
  width: 100%;
  margin: 30px auto;
}

/* Ver Mais */

#edicts-container {
  width: 720px;
  padding: 25px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.edicts-content {
  flex: 1;
}
.edicts-description {
  flex: 1;
}

@media screen and (max-width: 640px) {
  #edicts-container {
    width: 100%;
    float: none;
    padding: 0;
    text-align: center;
  }
  #table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }
  #table-responsive thead,
  #table-responsive tbody,
  #table-responsive th,
  #table-responsive td,
  #table-responsive tr {
    display: block;
  }
  #table-responsive td,
  #table-responsive th {
    height: 35px;
  }
  #table-responsive thead {
    float: left;
  }
  #table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }
  #table-responsive tbody tr {
    display: inline-block;
    margin-left: -350px;
  }
  #content-p-1 {
    overflow: hidden;
  }
}

#documents-container {
  width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#documents-container .document {
  background: #ccc;
  margin: 30px 0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#documents-container .document:hover {
  cursor: pointer;
  filter: brightness(95%);
}

.document .document-info {
  width: 310px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.document .document-download {
  width: 310px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.document span {
  font-weight: bold;
  user-select: none;
}

.document a {
  margin-right: 0;
}

#btnFiltra {
  position: absolute;
  left: 53%;
  bottom: 20px;
  width: 8%;
  margin-bottom: -1rem;
}
@media screen and (max-width: 640px) {
  #btnFiltra {
    font-size: 0.875em;
    display: block;
    left: 25%;
    margin-top: 35px;
    margin-bottom: -100px;
    width: 50%;
  }
}

.icon::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.search-icon::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
}

/* SOBRE */

.conhecimentos{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: .5rem;
}
.conhecimento:nth-child(1){
  grid-column: 2 / 6 ;
  grid-row: 1 / 3;
}
.conhecimento:nth-child(2){
  grid-column: 2 / 6 ;
  grid-row: 4 / 5;
}
.conhecimento:nth-child(3){
  grid-column: 12 / 16 ;
  grid-row: 5 / 4;
}
.conhecimento:nth-child(4){
  grid-column: 12 / 16 ;
  grid-row: 1 / 3;
}
.sessao-header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sessao-header h1{
  font-family:"Baloo Da 2" serif;
  font-size: 3rem;
  color: rgb(149, 16, 16);
  border-bottom: solid 10px;
  margin-bottom: 1.5rem;
}
.sessao-conhecimentos{
  background-color: #f5f5f5;
}
.conhecimento-header{
  display: flex;
  align-items: center;
  color: #4b4b4b;
}
.conhecimento-header i{
  font-size: 2.5rem;
}
.conhecimento-header h3{
  font-family:"Josefin Slab" serif;
  font-size: 2rem;
  padding-left: 1rem;
}
.conhecimento-text{
  font-family:"Josefin Slab" serif;
  margin-top: 1rem;
}
.conhecimento-img-wrapper{
  grid-column: 6 / 10;
  grid-row: 2 / 6 ;
  width: 100%;
  margin-left: 18%;
}
.conhecimento-img-wrapper img{
  object-fit: cover;
  width: 100%;
}
