* {
    font-family: bold;
}

html,
body {
    max-height: 100%;
}

.form {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 50%;
}
.navbar {
    background-color: #343a40;
}

.login {
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    border: outset;
    margin: 5%;
    width: 90%;
    border: 3px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
@media (max-width: 800px) {
    .login {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        justify-content: center;
    }
    .btn {
        margin-top: 10px;
    }
    .form {
        width: 100%;
    }
}
.login-img {
    width: 50%;
    border-bottom-right-radius: 15px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

ul li a {
    color: rgb(247, 240, 240) !important;
    font-size: 20px;
}

ul li div a {
    color: rgb(20, 19, 19) !important;
    font-family: Arial, Helvetica, sans-serif;
}

ul li a:hover {
    color: #aa1010 !important;
    text-decoration: aliceblue;
}

.pagination li a {
    color: #007bff !important;
    font-size: 20px;
}

button a {
    color: #fff !important;
}

#paginacao ul li a {
    color: #007bff !important;
}

.menu {
    width: 95%;
    margin: 1%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.menu-icon {
    border: outset 1px;
    padding: 1%;
    margin: 1%;
}

#menu-navbar-welcome {
    border: none;
    background-color: #343A40;
}

#menu-navbar-welcome .dropdown-item {
    text-align: center;
    color: #ecedee !important;
}

.dropdown-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menu-navbar-welcome .dropdown-item:hover {
    background-color: transparent !important;
    color: #aa1010 !important;
}

@media (min-width: 992px) {
    #menu {
        position: absolute;
        right: 7%;
    }

    #menu-navbar-welcome {
        background-color: #F8F9FA;
    }

    #menu-navbar-welcome .dropdown-item {
        color: #141313 !important;
        text-align: left !important;
    }
}

.rounded-circle {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.card {
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
}

.card-gap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 350px));
    text-align: center;
    justify-content: center;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.carousel-item {
    height: 32rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}
.icon {
    margin-right: 15px;
}
.menu-header {
    color: #fff !important;
}
.sidebar {
    background-color: #222c3c;
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 56px);
    transition: all 0.3s;
}
.sidebar ul li a {
    display: block;
    padding: 0.75rem 1rem;
    color: #c7cace;
    text-decoration: none;
}
.sidebar ul li a:hover,
.sidebar ul .active a {
    color: #ecedee;
    background-color: #354358;
}
.sidebar ul ul a {
    padding-left: 2.5rem;
    background-color: #1e2835;
}
/*Seletor utilizado para ativar o botão ocultar menu em PC*/
.sidebar.toggled {
    margin-left: -250px;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.toggled {
        margin-left: 0px;
    }
}

.sidebar [data-toggle="collapse"] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.sidebar [data-toggle="collapse"]:before {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 1rem;
}
.sidebar [aria-expanded="true"] {
    background-color: #19222d;
}

.icon-rotate {
    transition: all 0.2s;
}

.spin {
    transform: rotate(-180deg);
}

.icon-space {
    position: absolute;
    right: 1rem;
}

.content {
    width: 100%;
}

#edicts-home {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

#dashboard-card {
    width: 100%;
}

.search-bar {
    width: 100%;
    display: flex;
    padding: 3%;
    background-image: url("../imagem/bg-topo.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.title {
    color: #fff;
}

.title2 {
    margin-bottom: 50px;
}

.title-logo {
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.titulo {
    font-size: 2rem !important;
}

.nav-pagination {
    margin: 30px auto;
}

.navbar-expand {
    height: 80px;
}

/* Footer */

.rodape {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40%;
    background-color: #444444;
    color: #fff;
}

.icon {
    width: 15px;
    margin: 0 auto 4px 0;


}

.footer-icons {
    width: 28px;
    height: 28px;
    margin-left: 8px;
    background: #ffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float:right ;
}

.titulo-rodape {
    margin: auto 0;
    text-align: initial;
    float: left;
}

/* FormAttachProject */
#form-group {
    margin-bottom: 100px;
}

#form-group-md {
    left: 0;
    bottom: 70px;
}

.button-search{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


@media only screen and (max-width: 600px) {
    .rodape{
        height: 120px;
        gap: 0;
    }

    .footer-icons{
        margin-bottom: 10%;
    }

    .titulo-rodape{
        margin-top: 10px;
        text-align: center;
    }
}
