body{
    background-color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: bold;  
    text-align: center;
}
  .freguency{
    width: 720px;
    padding: 20px;
    margin: 30px auto;
    display: flex;    
    justify-content: space-around;
    border: black;
  }
  .descrition{
      width: 20rem;
  }
 .row-indigo{
    margin-left: 16.6%;
    margin-bottom: -45px;
    background-color: cornflowerblue;
    width: 67%;
   font-family: 16px bold;
 }
 .freguency-button{
    background: #007bff;
    margin-left: 16.6%;
    font: 16px bold;
    border-radius: 8px;
    padding: 6px 12px;
    color: #ffff;
    width: 67%;
 }
 .input-field{
     font: 16px bold;
     background: #fff;
     margin-left: 16.5rem;   
 }

 /* Freguência do bolsista */
.row-indigo-dg{
    background-color: cornflowerblue;
    font: 20px bold;
    width: 67%;
    margin-left: 16.6%;

}

 #sel_projeto {
    background: #fff;
    font: 16px sans-serif ;
 }

 .sect {
    border: 1px solid black;
    padding: 0.2rem;
    background-color: #fff;
    width: 67%;
    margin-bottom: 13px;
 }
 

  