* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaeef3;
}

.head-2 {
  font-size: 1.5rem !important;
}

.form-week-input {
  height: 60px;
  max-height: 60px;
}
.col {
  margin: 0;
  padding: 3px;
}
