@media only screen and (max-width: 600px){
    .respon{
        margin-bottom: 350%;
        width: 200%;
        margin-left: 35px;
        padding-bottom: 150px;
    }
    .respon1{
        margin-top: -450%;
        width: 200%;
        margin-left: 35px;
        padding-bottom: 600%;
    }
    .respon2{
        margin-top: -600%;
        width: 200%;
        margin-left: 35px;
        padding-bottom: 900%;
    }
    .respon3{
        margin-top: 50%;
        width: 200px;
        margin-left:-110px ;
        padding-bottom: 530%;
    }
    .respon4{
        margin-top: -570%;
        width: 200px;
        margin-left: -90% ;
           
    }
    .btn-success{
        padding: 10%;
        margin: 40%;
        margin-top: -80%;
        margin-left: -40%;
    }
}