<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
        />

        <title>Edit Workload</title>
    </head>
    <body>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">B</th>
                    <th scope="col">C</th>
                    <th scope="col">D</th>
                    <th scope="col">E</th>
                    <th scope="col">F</th>
                    <th scope="col">G</th>
                    <th scope="col">H</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="d-flex">
                        <button type="button" title="Salvar" class="btn btn-outline-primary m-1 mr-0 float-left"><i class="fas fa-save"></i></button>
                        <button type="button" title="Excluir" class="btn btn-outline-danger m-1 float-left"><i class="fas fa-minus-circle"></i></button>
                        <input type="text" class="form-control float-left ml-1 mt-1 mb-1 mr-0" style="width: 70%; border-top-right-radius: 0px; border-bottom-right-radius: 0px;" name="" id="" placeholder="Frase anterior">
                        <button type="button" title="Limpar " class="btn btn-outline-secondary float-left border-left-0 ml-0 mt-1 mb-1 mr-1" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i class="fas fa-times"></i></button>
                    </th>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <input type="checkbox" aria-label="">
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <input type="checkbox" aria-label="">
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <input type="checkbox" aria-label="">
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <input type="checkbox" aria-label="">
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <input type="checkbox" aria-label="">
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <input type="checkbox" aria-label="">
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <input type="checkbox" aria-label="">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <button type="button" title="Adcionar" class="btn btn-outline-success"><i class="fas fa-plus"></i></button>
        </div>

        <script src="https://kit.fontawesome.com/d9cd4d1e67.js" crossorigin="anonymous"></script>
    </body>
</html>
