<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table id="plano">
    <tr class="l2">
        <td colspan="2">DADOS DO PLANO DE TRABALHO</td>
    </tr>
    <tr>
        <td>
            <span>Título do Plano de trabalho</span><br />
        </td>
        <td>
            <input type="text" name="titulo" size="94" placeholder="Título do plano de trabalho" required/>
        </td>
    </tr>
    <tr>		
        <td>
            <span>Introdução e Justificativa</span><br />
        </td>
        <td>
            <textarea class="ckeditor" rows="1" name="introducao" cols="118"></textarea>
        </td>
    </tr>
    <tr>		
        <td>
            <span>Objetivos</span><br />
        </td>
        <td>
            <textarea class="ckeditor" rows="1" name="objetivos" cols="118"></textarea>
        </td>
    </tr>
    <tr>		
        <td>
            <span>Metodologia</span><br />
        </td>
        <td>
            <textarea class="ckeditor" rows="1" name="metodologia" cols="118"></textarea>
        </td>
    </tr>
    <tr>		
        <td>
            <span>Referências</span><br />
        </td>
        <td>
            <textarea class="ckeditor" rows="1" name="referencias" cols="118"></textarea>
        </td>
    </tr>
    <tr >		
        <td colspan="2">
            <span>Cronograma de atividades</span><br />		
            
<table>
<thead>
<tr>
    <td rowspan="2">Atividade</td>
    <td colspan="12">Meses</td>	
    <td>Funções</td>
</tr>
<tr>	
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>	
    <td></td>
</tr>
<thead>
<tbody id="atividades">
<tr>	
    <td><input type="text" name="atividade[1]" size="44" placeholder="Atividade 1 (obrigatório)" required/></td>
    <td><input type="checkbox" name="mes[1][A]" value="X" /></td>
    <td><input type="checkbox" name="mes[1][B]" value="X" /></td>
    <td><input type="checkbox" name="mes[1][C]" value="X" /></td>
    <td><input type="checkbox" name="mes[1][D]" value="X" /></td>
    <td><input type="checkbox" name="mes[1][E]" value="X" /></td>
    <td><input type="checkbox" name="mes[1][F]" value="X" /></td>
    <td><input type="checkbox" name="mes[1][G]" value="X" /></td>
    <td><input type="checkbox" name="mes[1][H]" value="X" /></td>
    <td><input type="checkbox" name="mes[1][I]" value="X" /></td>
    <td><input type="checkbox" name="mes[1][J]" value="X" /></td>
    <td><input type="checkbox" name="mes[1][K]" value="X" /></td>
    <td><input type="checkbox" name="mes[1][L]" value="X" /></td>
    <td></td>
</tr>
</tbody>
</table>		
        </td>
    </tr>
    <tr>
        <td colspan="2"><input id="add_field" class="botao no-print teal" type="button" value="Adicionar atividade"></td>
    </tr>

</table>

<input class="botao no-print" type="submit" name="imprimir" value="Gerar PDF">
</form>
</div><!--#geral-->

<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="../js/jQuery-Mask-Plugin/jquery.mask.min.js"></script>

<script type="text/javascript">
$(function() {    
    $('.cep').mask('00000-000');
    $('.phone').mask('(00) 0000-0000');
    $('.phone_with_ddd').mask('(00) 00000-0000');	
    $('.cpf').mask('000.000.000-00');
    });
</script>    
</body>
</html>
