<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
        />

        <title>Workload</title>
    </head>
    <body>
        <div class="d-flex justify-content-end m-1">
            <button type="button" title="Editar" class="btn btn-outline-primary"><i class="fas fa-pen mr-1"></i>Editar</button>
        </div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center"></th>
                    <th scope="col" class="text-center">Domingo</th>
                    <th scope="col" class="text-center">Segunda</th>
                    <th scope="col" class="text-center">Terça</th>
                    <th scope="col" class="text-center">Quarta</th>
                    <th scope="col" class="text-center">Quinta</th>
                    <th scope="col" class="text-center">Sexta</th>
                    <th scope="col" class="text-center">Sábado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="d-flex">
                        <i class="fas fa-angle-right m-1"></i>LoremIpsum
                    </th>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <i class="far fa-dot-circle m-1"></i>
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <i class="far fa-dot-circle m-1 text-success"></i>
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <i class="far fa-dot-circle m-1 text-success"></i>
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <i class="far fa-dot-circle m-1 text-success"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <script src="https://kit.fontawesome.com/d9cd4d1e67.js" crossorigin="anonymous"></script>
    </body>
</html>
